/* @keyframes duration | timing-function | delay |
 * iteration-count | direction | fill-mode | play-state | name */
html, body {
  line-height: 1.5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

p {
  font-size: 16px; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

@media screen and (min-width: 576px) {
  h1 {
    font-size: 24px; }

  h2 {
    font-size: 22px; }

  h3 {
    font-size: 20px; }

  h4 {
    font-size: 18px; }

  h5 {
    font-size: 16px; }

  h6 {
    font-size: 14px; } }
@media screen and (min-width: 768px) {
  h1 {
    font-size: 42px; }

  h2 {
    font-size: 36px; }

  h3 {
    font-size: 30px; }

  h4 {
    font-size: 24px; }

  h5 {
    font-size: 18px; }

  h6 {
    font-size: 12px; } }
ul.no-bullet li {
  list-style-type: none; }

.lined-small {
  border-left: 0.5px solid #aaa;
  border-bottom: 1px solid #b0b0b0;
  padding-left: 5px; }

.lined-medium {
  border-left: 1px solid #aaa;
  border-bottom: 2px solid #b0b0b0;
  padding-left: 5px; }

.lined-big {
  border-left: 1.5px solid #aaa;
  border-bottom: 3px solid #b0b0b0;
  padding-left: 5px; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.capital {
  text-transform: capitalize; }

.mid {
  margin: 0 auto; }

.M, .m, .middle {
  text-align: center; }

.L, .l, .left {
  text-align: left; }

.R, .r, .right {
  text-align: right; }

a {
  color: #000;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: black; }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #ddd;
  color: #000;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.page-wrap {
  margin: 35px 65px; }

@media screen and (max-width: 576px) {
  .page-wrap {
    margin: 5px 10px; } }
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-1-xsmall, .col-1-small, .col-1-medium, .col-1-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-2-xsmall, .col-2-small, .col-2-medium, .col-2-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-3-xsmall, .col-3-small, .col-3-medium, .col-3-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-4-xsmall, .col-4-small, .col-4-medium, .col-4-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-5-xsmall, .col-5-small, .col-5-medium, .col-5-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-6-xsmall, .col-6-small, .col-6-medium, .col-6-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-7-xsmall, .col-7-small, .col-7-medium, .col-7-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-8-xsmall, .col-8-small, .col-8-medium, .col-8-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-9-xsmall, .col-9-small, .col-9-medium, .col-9-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-10-xsmall, .col-10-small, .col-10-medium, .col-10-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-11-xsmall, .col-11-small, .col-11-medium, .col-11-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-12-xsmall, .col-12-small, .col-12-medium, .col-12-large {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 400px) {
  .col-1-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-2-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-3-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-4-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-5-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-6-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-7-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-8-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-9-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-10-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-11-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-12-xsmall {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media screen and (min-width: 576px) {
  .col-1-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-2-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-3-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-4-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-5-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-6-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-7-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-8-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-9-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-10-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-11-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-12-small {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media screen and (min-width: 768px) {
  .col-1-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-2-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-3-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-4-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-5-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-6-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-7-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-8-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-9-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-10-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-11-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-12-medium {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media screen and (min-width: 992px) {
  .col-1-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-2-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-3-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-4-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-5-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-6-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-7-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-8-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-9-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-10-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-11-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-12-large {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
button:focus {
  outline: 0; }

.btn {
  position: relative;
  background: none;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 5px;
  padding: 10px;
  border: 1px solid #aaa;
  color: #000;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s; }

.block {
  min-width: 100px !important; }

.btn-default::before, .btn-info::before, .btn-success::before, .btn-warning::before, .btn-danger::before, .anim-border::before, .btn-default::after, .btn-info::after, .btn-success::after, .btn-warning::after, .btn-danger::after, .anim-border::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%; }
.btn-default:hover, .btn-info:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover, .anim-border:hover {
  background: #aaa; }
.btn-default:active, .btn-info:active, .btn-success:active, .btn-warning:active, .btn-danger:active, .anim-border:active {
  background: #919191;
  color: #000; }

.btn-info {
  border: 1px solid #2196F3; }
  .btn-info:hover {
    background: #2196F3; }
  .btn-info:active {
    background: #0c7cd5; }

.btn-success {
  border: 1px solid #4CAF50; }
  .btn-success:hover {
    background: #4CAF50; }
  .btn-success:active {
    background: #3d8b40; }

.btn-warning {
  border: 1px solid #FFC107; }
  .btn-warning:hover {
    background: #FFC107; }
  .btn-warning:active {
    background: #d39e00; }

.btn-danger {
  border: 1px solid #F44336; }
  .btn-danger:hover {
    background: #F44336; }
  .btn-danger:active {
    background: #ea1c0d; }

.anim-border {
  border: none; }
  .anim-border::before, .anim-border::after {
    border: 2px solid transparent;
    width: 0px;
    height: 0px; }
  .anim-border::before {
    top: 0;
    left: 0; }
  .anim-border::after {
    bottom: 0;
    right: 0; }
  .anim-border:hover {
    color: #aaa;
    background: none; }
  .anim-border:hover::before, .anim-border:hover::after {
    width: 100%;
    height: 100%;
    background: none; }
  .anim-border:hover::before {
    border-top-color: #aaa;
    border-right-color: #aaa;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    background: none; }
  .anim-border:hover::after {
    border-bottom-color: #aaa;
    border-left-color: #aaa;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }
  .anim-border:active {
    background: #919191;
    color: #000; }

.form-wrap {
  position: relative;
  width: 100%; }

label.form-label {
  position: relative;
  display: block;
  text-align: left;
  margin: 10px; }

input:focus, select:focus, textarea:focus {
  outline: 0; }

.form-input, .form-textarea {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px; }

.form-input, .form-select {
  border: 1px solid #aaa;
  box-sizing: border-box;
  background-color: #ddd; }

input[type=radio].form-input {
  display: inline-block;
  width: 20px;
  vertical-align: baseline; }

input[type=checkbox].form-input {
  display: none; }

input[type=checkbox].form-input + label:before {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #aaa;
  content: "";
  -webkit-transition: 0.25s;
  transition: 0.25s; }

input[type=checkbox].form-input:checked + label:before {
  content: "";
  background: #aaa;
  border: 1px solid #919191; }

input[type=submit].form-input {
  border: none;
  color: #000;
  background-color: #aaa;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  input[type=submit].form-input:hover {
    background-color: #919191; }

input[type] {
  border: none;
  border-left: 2px solid #aaa;
  border-bottom: 3px solid #aaa;
  background-color: #ddd; }

select.form-select {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px; }

textarea.form-textarea {
  box-sizing: border-box;
  background-color: #ddd;
  border: 2px solid #aaa;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: 0.25s;
  transition: 0.25s; }
  textarea.form-textarea:focus {
    border: 2px solid #ddd;
    background-color: #aaa; }
  textarea.form-textarea.fixed {
    resize: none; }

/*# sourceMappingURL=fanci.css.map */
