html, body
	+reset
	min-height: 100%
	overflow-x: hidden
	-webkit-tap-highlight-color: transparent
	-webkit-font-smoothing: antialiased
	-webkit-text-size-adjust: 100%

.mid
	text-align: center

.M, .m, .middle
	text-align: center

.L, .l, .left
	text-align: left

.R, .r, .right
	text-align: right

.border
	box-sizing: border-box
	border: 1px solid black

.content-wrap
	margin: 35px 65px

@media screen and (max-width: 576px)
	.content-wrap
		margin: 5px 10px