// :: Forms file ::
// Description: Contains form styling
// Requirements: mixins.sass, colours.sass

.form-wrap
	position: relative
	width: 100%

label.form-label
	position: relative
	display: block
	text-align: left
	margin: 10px

input:focus, select:focus, textarea:focus
	outline: 0

.form-input, .form-textarea
	position: relative
	display: block
	width: 100%
	padding: 12px 20px
	margin: 10px 0px

.form-input, .form-select
	border: 1px solid $secondary
	box-sizing: border-box
	background-color: $primary

input[type=radio].form-input
	display: inline-block
	width: 20px
	vertical-align: baseline

input[type=checkbox].form-input
	display: none

input[type=checkbox].form-input + label:before
	+size(15px)
	display: inline-block
	margin-right: 10px
	border: 1px solid $gray
	content: ''
	+transition(0.25s)

input[type=checkbox].form-input:checked + label:before
	content: ''
	background: $gray
	border: 1px solid darken($gray, 10%)

input[type=submit].form-input
	border: none
	color: $secondary-text
	background-color: $secondary
	+transition(0.25s)

	&:hover
		background-color: darken($secondary, 10%)

input[type]
	border: none
	border-left: 2px solid $secondary
	border-bottom: 3px solid $secondary
	background-color: $primary

select.form-select
	position: relative
	display: block
	width: 100%
	padding: 12px 20px
	margin: 10px 0px

textarea.form-textarea
	box-sizing: border-box
	background-color: $primary
	border: 2px solid $secondary
	font-family: $primary-font
	+transition(0.25s)

	&:focus
		border: 2px solid $primary
		background-color: $secondary

	&.fixed
		resize: none