.form-wrap
	position: relative
	width: 100%

label.form-label
	position: relative
	display: block
	text-align: left
	margin: 10px

.form-input, .form-select, .form-submit, .form-textarea
	position: relative
	display: block
	width: 100%
	padding: 12px 20px
	margin: 10px 0px

.form-input, .form-select
	border: 1px solid $secondary
	box-sizing: border-box

.form-radio
	position: relative
	display: inline-block


.form-submit
	border: none
	color: $secondary-text
	background-color: $secondary
	+transition(0.25s)

	&:hover
		background-color: darken($secondary, 10%)

input[type=text], input[type=email], input[type=password]
	border: none
	border-left: 2px solid $secondary
	border-bottom: 3px solid $secondary
	background-color: $primary

input:focus
	outline: 0

textarea.form-textarea
	resize: none
	outline: 0
	box-sizing: border-box
	background-color: $primary
	border: 2px solid $secondary
	font-family: $primary-font
	+transition(0.5s)

	&:focus
		border: 2px solid $primary
		background-color: $secondary