html, body
	line-height: 1.5
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

h1, h2, h3, h4, h5, h6
	font-weight: bold

.header-left
	margin-left: 10px

.header-middle
	text-align: center

.header-right
	margin-right: 10px

.upper
	text-transform: uppercase

.lower
	text-transform: lowercase

.capital
	text-transform: capitalize

p
	font-size: 14px

a
	color: #0074D9
	text-decoration: none
	outline: 0

	&:hover,
	&:focus
		color: lighten(#0074D9, 20%)