//Font families
$primary-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$codeblock-font: 'Consolas'

//Screen sizes
$xsmall: 400px
$small: 576px
$medium: 768px
$large: 992px